//Colors//
$primaryCol:#000;
$secondaryCol:#fff;
$borderCol: #d9d9d9;
$thirdCol:#ededed;
$buttonCol: #c3002f;

//width in pixels//
$bp-sm: 568px;
$bp-sm-2: 660px;
$bp-md: 768px;
$bp-lg: 1024px;

